* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.exciting {
    padding: 50px 0;
}
.exciting-company {
    height: 100vh;
    padding: 0;
}
.exciting-company .column1 , .exciting-company .column2 {
    margin: auto;
}
.exciting-company .row {
    height: 100vh;
}
.exciting-company .company-image {
    text-align: right;
}
.exciting-company .company-image img {
    width: 200px;
}
.exciting-title {
    color: #5cb7fd;
}
.exciting button .joinus {
    text-decoration: none;
    color: #5cb7fd;
}
.exciting button {
    background-color: #fff;
    color: #5cb7fd;
    border:1px solid  #5cb7fd;
}
.exciting button:hover {
    background-color: #5cb7fd;
    border:1px solid  #5cb7fd;
    transition: 1s;
}
.exciting button:hover .joinus {
    color: #fff;
}
.exciting .exciting-image {
    text-align: end;
}
.exciting .company-image {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
}
.exciting .company-image img {
    width: 40%;
}
.exciting .joinusCompany {
    display: none;
}
@media (min-width: 768px) and (max-width: 991px) {
    .exciting p {
        width: 500px;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .exciting .company-image {
        justify-content: center;
    }
    .exciting-company .exciting p {
        font-size: 1.2rem !important;
        margin-bottom: 0;
    }
    .exciting-company .exciting {
        padding: 50px 0 0 0;
    }
}
@media (min-width: 320px) and (max-width: 575px) {
    .exciting p {
        font-size: 1rem !important;
    }
    .exciting .company-image {
        justify-content: center;
    }
    .exciting-company .exciting {
        padding: 50px 0 0 0;
    }
    .exciting-company .company-image img {
        width: 150px;
    }
}