* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* .company .col-lg-4  {
    display: flex;
    justify-content: center;
    align-items: center;
} */
.company .col3 , .company .col6 {
    display: flex;
    justify-content: end;
    align-items: center;
}
.company {
    padding: 50px 0;
}
.company .body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
}
.company .card5 .body , .company .card6 .body {
    text-align: center;
}
.company .company-title {
    /* text-align: center; */
    /* width: 700px; */
}
.company .company-div-title {
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
    margin-bottom: 50px;
}
.company .card {
    border: none;
}
.company .company-image {
    border-radius: 50%;
    box-shadow: 1px 1px 7px 0 #292929;
    width: 70%;  
    height: 70%; 
    transition: 1s;
    cursor: pointer;
}
.company .company-img {
    /* text-align: center; */
    width: 80%;
    border-radius: 50%;
}
.company .card1 .company-img , .company .card4 .company-img  {
    text-align: left;
    width: 100%;
}
.company .card2 .company-img , .company .card5 .company-img{
    text-align: center;
    width: 100%;
}
.company .card3 .company-img , .company .card6 .company-img {
    text-align: right;
    width: 100%;
}
.company .card2 .body , .company .card3 .body {
    text-align: center;
}
/* .company .company-image:hover {
    transform: scale(1.2);
    /* filter: ; */

.company .body .showMore1 {
margin-left: 3rem;
}
.company .body .showMore2 {
    margin-left: 7.3rem;
}
.company .body .showMore3  ,.company .body .showMore6 {
    margin-left: 10.6rem;
}
.company .body .showMore4 {
    margin-left: 3.8rem;
}
.company .body .showMore5 {
    margin-left: 7rem;
}
.company .body .showMore1 , .company .body .showMore5 , .company .body .showMore6 {
    text-align: center;
}
.company .body .showMore1 , .company .body .showMore2 ,.company .body .showMore3 , 
.company .body .showMore4 ,.company .body .showMore5 ,.company .body .showMore6 {
    text-decoration: none;
    border: 1px solid #5cb7fd;
    width: max-content;
    padding: 2px 5px;
    border-radius: 5px;
    color: #5cb7fd;
}
.company .body .showMore1:hover , .company .body .showMore2:hover ,.company .body .showMore3:hover , 
.company .body .showMore4:hover ,.company .body .showMore5:hover ,.company .body .showMore6:hover  {
    color: #fff;
    background-color: #5cb7fd;
    transition-duration: 1s;
}
/* .company .company-image:hover {
    transform: scale(1.2);
    transition: 1.5s;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 1px 1px 12px 0 #2e2e2ee8;
} */
/* .company .company-image:hover .company-img {
    overflow: hidden;
} */
.company .company-name {
    /* text-align: center; */
    /* padding-left: 25px; */
    padding-top: 10px;
    /* font-size: 20px !important; */
}
.company .card3 .company-name  {
    padding-left: 6.8rem;
}
.company .card4 .company-name  {
    padding-left: 5rem;
}
.company .card6 .company-name  {
    padding-left: 7rem;
}
.company .company-location {
    font-weight:200;
    margin-left: 20px;
}
/* .company .body {
    display: none;
}
.company .card:hover .body{
    display: block;
    transition: 1s;
    
} */
/* .company .body {
    display: none;
}
.company .card.show .body {
    display: block;
} */
/* @media (max-width:767px) {
    .company .card {
        width: 100% !important;
    }
    .company .col {
        text-align: center;
    }
}
@media (max-width:576px) {
    .company .card {
        width: 100% !important;
    }
    .company .col {
        text-align: center;
    }
} */
@media (min-width: 992px) and (max-width: 1199px) {
    .company .col3 , .company .col6 {
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .company .col1 , .company .col4 {
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .company .col2 , .company .col5 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .company .body .showMore2 {
        margin-left: 5.5rem;
    }
    .company .body .showMore5 {
        margin-left: 5rem;
    }
    .company .body .showMore1 {
        margin-left: 2.5rem;
    }
    .company .body .showMore4 {
        margin-left: 2rem;
    }
    .company .body .showMore3, .company .body .showMore6 {
        margin-left: 9rem;
    }
    .company .card4 .company-name {
        padding-left: 3.3rem;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .company .card3 .company-img , .company .card5 .company-img {
        text-align: left;
    }
    .company .card4 .company-img , .company .card6 .company-img , .company .card2 .company-img  {
        text-align: right;
    }
    .company .card1 .body {
        padding: 2rem;
    }
    .company .body .showMore2 {
        margin-left: 9.8rem;
    }
    .company .body .showMore4{
        margin-left: 9.5rem;
    }
    .company .body .showMore3 , .company .body .showMore5 {
        margin-left: 3.6rem;
    }
    .company .body .showMore6 {
        margin-left: 10.3rem;
    }
    .company .card3 .company-name {
        padding-left: 3.5rem;
        text-align: left;
    }
    .company .card4 .company-name {
        text-align: center;
        padding-left: 6rem;
    }
    .company .card5 .company-name {
        text-align: left;
        padding-left: 1rem;
    }
    /* .company .card6 .company-name {
        padding-left: 0;
    } */
    .company .card1 .company-img {
        text-align: left;
    }
    .company .col1 , .company .col2 , .company .col4 , .company .col5 ,.company .col3 , .company .col6 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .company .body .showMore1 {
        margin-left: 2.5rem;
    }
    .company .card2 .company-name {
        padding-left: 6rem;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    /* .company .col-sm-12 {
        flex: 0 0 auto;
        width: 50% !important;
    } */
    .company .card2 .company-img , .company .card4 .company-img , .company .card6 .company-name{
        text-align: right;
    }
    .company .card3 .company-img , .company .card5 .company-img , .company .card5 .company-name {
        text-align: left;
    }
    /* .company .card2 .company-name {
        padding-left: 5.5rem;
    } */
    .company .card3 .company-name {
        padding-right: 6rem;
        /* padding-left: 0; */
    }
    .company .card4 .company-name {
        padding-left: 8rem;
    }
    .company .card6 .company-name {
        padding-left: 0;
    }
    .company .body .showMore2 {
        margin-left: 7rem;
    }
    .company .body .showMore3 {
        margin-left: 7.5rem;
    }
    .company .body .showMore4 {
        margin-left: 6.5rem;
    }
    .company .body .showMore5 {
        margin-left: .4rem;
    }
    .company .body .showMore6 {
        margin-left: 0rem;
    }
    .company .card1 .company-img ,  .company .card4 .company-img , .company .card3 .company-img,
    .company .card5 .company-img , .company .card6 .company-img , .company .card2 .company-img {
        text-align: center;
    }
    .company .col1 , .company .col2 , .company .col3 , .company .col4 , .company .col5 , .company .col6 {
        display: flex;
        justify-content: center;
        align-items: center;
    } 
    .company .card1 .body , .company .card5 .body , .company .card6 .body {
        align-items: center;
    }
}
@media (min-width: 320px) and (max-width: 575px) {
    .company .card1 .company-img ,  .company .card4 .company-img , .company .card3 .company-img, .company .card6 .company-img {
        text-align: center;
    }
    .company .body {
        align-items: center;
    }
    .company .body .showMore1 , .company .body .showMore2 , .company .body .showMore3 ,
    .company .body .showMore4 , .company .body .showMore5 ,  .company .body .showMore6 {
        margin-left: 0;
    }
    .company .card3 .company-name , .company .card4 .company-name , .company .card6 .company-name {
        padding-left: 0;
    }
    .company .card1 .company-img ,  .company .card4 .company-img , .company .card3 .company-img,
    .company .card5 .company-img , .company .card6 .company-img , .company .card2 .company-img {
        text-align: center;
    }
    .company .col1 , .company .col2 , .company .col3 , .company .col4 , .company .col5 , .company .col6 {
        display: flex;
        justify-content: center;
        align-items: center;
    } 
}