.articles .title {
    font-size: 1.7rem !important;
}
.articles .image {
    height: 270px ;
}
.articles .colArticle {
    margin-bottom: 1.5rem !important;
}
.articles .ArticleCard {
    box-shadow: 1px 1px 15px 0px #aaa;
}