* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer {
    background-color: rgba(139, 139, 139 , 0.4);
}
.footer {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
footer .list {
    list-style: none;
}
footer .list .item {
    color: #666666;
}
footer .list .item:hover {
    padding-left: 7px;
    transition: .5s;
}
footer .social {
    display: flex;
    justify-content: space-between;
    width: 200px;
}
footer .social .icon{
    /* margin-right: 20px; */
    width: 40px;
    height: 40px;
    color: #666666 ;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    padding-top: 7px;
    cursor: pointer;
}
footer .social .icon:hover {
    background-color: #666666;
    color: #fff;
    transition: .6s;
}
.footerLogo {
    width: 150px;
    margin-left: -25px;
}

/* @media (max-width:767px) {
    .para-social {
        padding-left: 30px;
    }
    footer .col {
        text-align: center;
    }
    footer .social {
        justify-content: center;
        padding-left: 60px;
    }
    footer {
        padding-bottom: 20px;
    }
} */
@media (min-width: 768px) and (max-width: 991px) {
    footer .list1 , footer .list2 {
        padding-left: 0;
    }
    footer .footerLogo {
        margin-left: -35px;
    }
}
@media (min-width: 576px) and (max-width: 767px)  {
    .footer {
        flex-wrap: wrap;
    }
    footer .list1 {
        padding-left: 0;
    }
}
@media (min-width: 320px) and (max-width: 575px) {
    footer .social {
        width: 200px;
        /* margin-left: 32px; */
    }
    footer .list {
        padding-left: 0;
    }
    .footerLogo {
        margin-left: -35px;
    }
    .footer {
        flex-direction: column;
    }
}