* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.opinion-name {
    position: absolute;
    bottom: 25px;
    left: 70px;
    color: #575252;
    font-weight: 500;
}
.opinion .card-img {
    width: 60px;
    position: absolute;
    bottom: 0px;
    left: 0;
}
.opinion {
    padding-bottom: 50px;
}
.opinion-card {
    position: relative;
}
.opinion-card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    top: 0;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    background-color: #5cb7fd;
}
.opinion-opinion {
    padding-top: 20px;
}
@media (min-width: 768px) and (max-width: 991px) {
    .opinion .opinion-card {
        height: 270px !important;
    }
    .opinion-name {
        bottom: 12px;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .opinion .opinion-card {
        height: 220px !important;
    }
}
@media (min-width: 553px) and (max-width: 560px) {
    .opinion .opinion-card {
        height: 220px !important;
    }
}
@media (min-width: 354px) and (max-width: 552px) {
    .opinion .opinion-card {
        height: 270px !important;
    }
    .opinion-name {
        bottom: 15px;
    }
}
@media (min-width: 320px) and (max-width: 353px) {
    .opinion .opinion-card {
        height: 320px !important;
    }
}