* {
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
}
.signup {
    width: 100%;
    height: 100vh ;
    background-color: hsl(201deg 93% 77% / 24%);
    /* background-image: url(./../../assets/Images/circle.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .signup-text {
    padding-top: 230px;
} */
/* .signup-text h1 {
    font-size: 45px;
} */
/* .signup .form {
    padding-top: 110px;
} */
.signup .signup-login {
    color: #61c8ff;
}
.signup button {
    background-color: #fff;
    color: #61c8ff;
    border:1px solid  #61c8ff;
    padding: 8px 17px;
}
.signup button:hover {
    background-color: #61c8ff;
    color: #fff;
    border:1px solid  #61c8ff;
}
.signup .signup-input-confirm-password:focus , .signup .signup-input-password:focus , .signup .signup-input:focus{
    border: none;
    box-shadow: none;
    border: 1px solid #8dd4fb;
    box-shadow: 1px 1px 8px 0px #8dd4fb;
}
.signup .containerPassword {
    position: relative;
}
.signup .icon-password {
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: #61c8ff;
    cursor: pointer;
    font-size: 18px;
}
.signup .containerConfirmPassword {
    position: relative;
}
.signup .icon-password2 {
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: #61c8ff;
    cursor: pointer;
    font-size: 18px;
} 
.signup input::placeholder {
    font-size: 14px;
}

.signup .rowSingnUp {
    background-color: #fff;
    border-radius: 50px;
    padding: 70px 30px;
    box-shadow: 1px 1px 35px 2px hsl(201deg 93% 77%);
    position: relative;
}
.signup .ArrowAltCircleLeft {
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 50px;
    color: #61c8ff;
}
.signup .signUp-image img {
    width: 90%;
}
.signup .colImage {
    margin: auto;
}
.signup .form-label {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}
.signup .form-control {
    padding: 1rem .75rem;
}
.signup .form-text {
    font-size: 1.2rem;
}
.signup .logo {
    width: 75px;
    margin-left: -20px;
}
.signup .form h1 {
    font-weight: bold;
}
.signup .form p {
    font-size: .85rem;
}
@media (min-width :768px) and (max-width :1750px) {
    .signup .rowSingnUp {
        padding: 30px;
    }
    .signup {
        padding: 30px;
        height: auto;
    }
}
@media (max-width :991px) {
    .signup .signUp-image img  {
        /* margin-bottom: 30px; */
        display: none;
    }
    .signup .col-md-6 {
        flex: 0 0 auto;
        width: 100%;
    }
    .signup .ArrowAltCircleLeft {
        font-size: 25px ;
        top: 15px;
        left: 20px;
    }
}
@media (max-width :767px) {
    .signup {
        height: auto;
    }
    .signup .rowSingnUp {
        padding: 30px;
        margin: 30px 0;
    }
    .signup .signUp-image img  {
        /* margin-bottom: 30px; */
        display: none;
    }
}
@media (min-width :320px) and (max-width :400px) {
    .signup .rowSingnUp {
        padding: 30px 10px;
    }
    .signup .form-label {
        margin-bottom: .75rem;
        font-size: 1rem;
    }
    .signup .form-control {
        padding: .50rem;
    }
    .signup button {
        padding: 5px 10px;
    }
    .signup .form-text {
        font-size: 1rem;
    }
    .signup .signUp-image img {
        display: none;
    }
}